
body {
  background-image: url(../img/fondo.jpg);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}
.barra-superior{
  height: 160px;
  background-color: rgba(48, 138, 207, 1);
  /*position: fixed;*/

  width: 100%;

}
.logo{
  width: 170px;
  border-radius: 5px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .logo-absolute {
  }
  .logo{
    width: 150px;
    border-radius: 5px;
    margin-top: 25px;
  }
  .icono-btn{
    display:none;
    width: 0px;
  }
  .boton-menu{
    width: 5px;
  }
}
@media screen and (min-width: 768px) {
  .logo-absolute {
      position:absolute;
      top: 27px;
  }
}
.contenedor-principal{

}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
  background-attachment: fixed;
}
.contenedor{
  height:750px;
  margin-top: 40px;

}
.subContenedor1 img{
  width: 40px;

}
.image1{
  height: 100%;
  width: 100%;

}
.subContenedor2 div{
  border-style: none !important;
}
.contenedor2{
  margin: 0px 10px 10px 10px !important;
  height: 100%;

}
.image-contenedor2{
  width: 150px;
  height: 120px;
  margin: 10px 5px 0 0 !important;
  float: left;

}
.subContenedor2-1{
margin: 0px 0px 0px 0px !important;
background-color: #FFFFFF;
color: black;

}
.subContenedor2-2{
margin: 0 0 0 0 !important;
background-color: #FFFFFF;
border-radius: 5px;
color: black;
width: 100%;
height: 100%;

}
.image-subContenedor2-2{
  margin-top: 5px;
}
.perfil_autor{
  border-top: 1px solid black;
  margin-top: 5px;
}
.form-comentarios{
  background-color: #0066ff;
  color:#FFFFFF;
}
