
body{
  background-image: url(../img/fondo.jpg);
}
.barra-superior{
  height: 120px;
  background-color: rgba(48, 138, 207, 1);
  border: 1px solid black;
}
.logo{
  width: 200px;
  display: inline-block;
  border-radius: 5px;
}
.logo-absolute {
    position: absolute;
    top: 25px;
    left: 90px;
}
div{
  border:1px solid #FFFFF;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
