body{
  background-image: url(../img/10.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.class-body{
  background-color: rgba(46, 38, 64, 0.6);
    height: 100%;
}
.header-left{
border-right: 1px solid #FFFFFF;
padding-right: 4px;
}
.header-right{

}
.border-bottom{
  border-bottom: 1px solid #FFFFFF;
}
.header-principal{
  border-radius: 5px;
  color: #FFFFFF;
  margin-bottom: 15px;
  border-bottom: 1px solid #FFFFFF;

}
.contenedor-principal{
  color: #FFFFFF;
  margin-top: 5px;
  height: 100%;
}
.contenedor-left{
  margin:0 0 10px 5px !important;
  background-color: rgba(174, 177, 206, 0.6);
  border-radius: 5px;

}
.contenedor-right{
  background-color: rgba(174, 147, 101, 0.6);
  margin:0 0 10px 5px !important;
  border-radius: 5px;

}
.subcontenedor-left{
  margin: 15px 5px 15px 15px !important;
}
.menu{
  background-color: #FFFFFF;
  border-radius: 5px;
}
.historial{
  color:#2ba6cb;
  font-size: 1rem;
}



/*div{
  border: 1px solid black;
}
